.top-bar {
  min-height: 70px;
  background-color: #66cc99;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.top-bar .top-bar_fix {
  position: fixed;
  width: 100%;
  min-height: 50px;
  z-index: 10000;
  background-color: #66cc99;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.top-bar .top-bar_logo p {
  font-family: 'Arvo Regular';
  color: #fff;
  font-size: 22px;
  margin: 19px 0;
  padding-left: 25px;
}
.top-bar .top-bar_logo i {
  background: url('/img/key-icon.svg') no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
}
.top-bar h3 {
  color: #fff;
  margin: 17px 0;
}
.top-bar .top-bar_menu ul {
  list-style-type: none;
  padding: 0;
  margin: 11px 0;
}
.top-bar .top-bar_menu ul li {
  display: inline-block;
  padding: 11px 0;
}
.top-bar .top-bar_menu ul li:last-child a {
  border-right: 1px solid #339966;
}
.top-bar .top-bar_menu ul li a {
  padding: 24px 19px;
  color: #fff;
  border-left: 1px solid #339966;
}
.top-bar .top-bar_menu ul li a:hover {
  text-decoration: none;
  background-color: #339966;
}
.header-bg {
  min-height: 800px;
  background: url('../img/bg-header.jpg') no-repeat;
  background-size: 1920px;
  background-position: 0 -400px;
  position: relative;
}
.header-bg h1 {
  color: #fff;
  position: relative;
  z-index: 10;
  width: 74%;
  padding-top: 3.5em;
  margin: 0 auto;
  text-align: center;
}
.header-bg h1 span {
  color: #ff9933;
}
.header-bg .header-bg_link {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 8em;
  height: 88px;
  width: 88px;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.header-bg .header-bg_link i {
  height: 40px;
  width: 40px;
  background: url('../img/link-icon.svg') no-repeat;
  background-size: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -13px;
}
.advantages h4 {
  text-align: center;
}
.advantages .advantages-item p {
  font-size: 14px;
  color: #999999;
  padding: 0 1em;
}
.advantages .advantages-item i {
  display: block;
  margin: 1em auto;
  width: 55px;
  height: 55px;
  background: url('../img/pattern-advantages.svg') no-repeat;
  background-position: 0 -66px;
  background-size: 55px;
}
.advantages .advantages-item:nth-child(2) i {
  background-position: 0 0;
}
.advantages .advantages-item:nth-child(3) i {
  background-position: 0 -125px;
}
.price .col-sm-4 {
  padding: 0;
  position: relative;
  box-shadow: 0 0 2.8px 1.2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 2.8px 1.2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 2.8px 1.2px rgba(0, 0, 0, 0.35);
  background-color: #fff;
}
.price .price-item_title {
  text-align: center;
  padding: .8em 0;
  color: #fff;
}
.price .price-item_title h5 {
  margin: 0;
}
.price .price-item_content ul {
  list-style-type: none;
}
.price .price-item_content ul li {
  font-size: 14px;
  color: #6c6c6c;
  padding-left: 2em;
}
.price .price-item_price {
  text-align: center;
  background-color: #efefef;
  padding: 1em 0;
  margin-bottom: 20px;
}
.price .price-item_price h3 {
  line-height: 24px;
}
.price .price-item_price small {
  display: block;
  line-height: 12px;
  color: #808080;
}
.price .price-item_first .price-item_title {
  background-color: #1eb7b2;
}
.price .price-item_second {
  position: relative;
  top: 7px;
  z-index: 10;
  transform: scale(1.007);
  -webkit-transform: scale(1.007);
  -ms-transform: scale(1.007);
}
.price .price-item_second .price-item_title {
  background-color: #66cc99;
}
.price .price-item_three .price-item_title {
  background-color: #66ccff;
}
.steps {
  padding-top: 2em;
  background-image: radial-gradient(center, ellipse cover, rgba(242, 232, 221, 0.09) 0%, #f2e8dd 0%, rgba(248, 227, 203, 0.9) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(242, 232, 221, 0.09) 0%, #f2e8dd 0%, rgba(248, 227, 203, 0.9) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(242, 232, 221, 0.09) 0%, #f2e8dd 0%, rgba(248, 227, 203, 0.9) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(242, 232, 221, 0.09) 0%, #f2e8dd 0%, rgba(248, 227, 203, 0.9) 100%);
}
.steps h2 {
  margin-bottom: 50px;
}
.steps .row {
  margin-bottom: 2.5em;
}
.steps .steps-item {
  position: relative;
}
.steps .steps-item:nth-child(1):after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 45px;
  background: url('../img/step-icon.svg') no-repeat;
  background-size: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.steps .steps-item .steps-item_number {
  font-family: 'Arvo Bold';
  font-size: 30px;
  width: 58px;
  height: 58px;
  border: 3px solid #333;
  text-align: center;
  line-height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
}
.steps .steps-item .steps-item_content {
  float: left;
  width: 80%;
  margin-left: 1em;
}
.steps .steps-item .steps-item_content p {
  margin: 0;
  font-size: 14px;
  color: #bba893;
}
.steps .steps-item .steps-item_content .steps-item_content-title h4 {
  margin: .6em 0;
}
.compare .compare-table {
  text-align: center;
}
.compare .compare-table tr:nth-child(2n+2) {
  background-color: #faeee1;
}
.compare .compare-table tr:nth-child(2n+3) {
  background-color: #efdbc2;
}
.compare .compare-table td {
  padding: .5em 2em;
}
.compare .compare-table td p {
  margin: 0;
}
.compare .compare-table td + td {
  border-left: 1px solid #beae9e;
}
.compare .compare-table td:nth-child(1) {
  width: 50%;
  text-align: left;
}
.compare .compare-table td:nth-child(2) {
  width: 25%;
}
.compare .compare-table td:nth-child(3) {
  width: 25%;
}
.compare .compare-table .compare-table_title {
  background-color: #66cc99;
  color: #fff;
  height: 60px;
}
.compare .compare-table .compare-table_title td {
  text-align: center;
}
.compare .compare-table .compare-table_title td + td {
  border-left: 1px solid #48926d;
}
.cta {
  position: relative;
  background: url('../img/bg-cta.jpg') no-repeat;
  background-size: 1920px;
  background-position: 0 -400px;
}
.cta .container {
  position: relative;
  z-index: 10;
  padding: 30px 0;
}
.cta h1 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.cta form {
  text-align: right;
}
.cta form .row {
  margin-bottom: 25px;
}
.cta form .col-sm-6 {
  padding-right: 7em;
}
.cta form label {
  color: #fff;
}
.cta form select {
  margin-left: 10px;
}
.cta form input {
  margin-left: 10px;
}
.cta form input[type="submit"] {
  margin: 65px auto 5px;
  line-height: 20px;
}
.cta form #amount-max {
  margin-left: 25px;
}
.faq h4 {
  padding-top: 1em;
}
.faq .faq-item + .faq-item {
  margin-top: 55px;
}
.faq .faq-text {
  background-color: #fbefe0;
  position: relative;
  padding: 1em 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.faq .faq-text:after {
  content: "";
  position: absolute;
  left: -14px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #fbefe0;
  border-bottom: 15px solid transparent;
}
.faq .faq-text p {
  font-size: 14px;
  margin: 0;
}
.map {
  min-height: 480px;
}
.map .container {
  position: relative;
  z-index: 2;
}
.map .mapYa {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 480px;
}
.map .map-wrapper {
  position: absolute;
  right: 0;
  width: 40%;
  margin: 6em 0;
}
.map .map-wrapper p {
  margin: 0;
}
.map .map-wrapper .map-wrapper_title {
  color: #fff;
  background-color: #66cc99;
  padding: .5em 2em;
}
.map .map-wrapper .map-wrapper_content {
  background-color: #fff;
}
.map .map-wrapper .map-wrapper_content .map-wrapper_content-item {
  padding: 5px 15px 5px 65px;
  min-height: 65px;
  position: relative;
}
.map .map-wrapper .map-wrapper_content .map-wrapper_content-item + .map-wrapper_content-item {
  border-top: 1px solid #999;
}
.map .map-wrapper .map-wrapper_content .map-wrapper_content-item i {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: url('../img/pattern-map.svg') no-repeat;
  background-size: 30px;
}
.map .map-wrapper .map-wrapper_content .map-wrapper_content-item .m-icon-phone {
  background-position: 0 -43px;
}
.map .map-wrapper .map-wrapper_content .map-wrapper_content-item .m-icon-mail {
  background-position: 0 -87px;
}
footer .footer-copyright {
  background-color: #333;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
footer .footer-copyright a {
  color: #fff;
}
footer .footer-manag h1 {
  text-align: center;
  font-size: 24px;
  padding: 25px 0;
}
footer .footer-manag h1 a {
  color: #ff9933;
  border-bottom: 2px dotted #ff9933;
  padding-bottom: 1px;
}
footer .footer-manag h1 a:focus,
footer .footer-manag h1 a:hover {
  text-decoration: none;
}
