@import "variables.less";

body {
    font-size: @font-size;
    color: #333;
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    a {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

